@import "colors";
@import "fonts";
@import "mixins/stamp-background";
@import "mixins/hexagon";

.country-profile-details {
  .stamp-background(contain, inherit);
  background-repeat: no-repeat;

  @vertical-padding: 30px;
  //padding-top: @vertical-padding;
  padding-bottom: @vertical-padding;

  @goal-size: 160px;
  @row-height: @goal-size + 25px;

  .goal-complete {
    .hexagon(@goal-size, @green-dark);
    height: @row-height;

    .icon {
      .goal-icon-config(@green-darker);
    }
  }

  .goal-in-progress {
    .hexagon(@goal-size, @orange-light);
    height: @row-height;

    .icon {
      .goal-icon-config(@orange-dark);
    }
  }

  .goal-not-started {
    .hexagon(@goal-size, @gray);
    height: @row-height;

    .icon {
      .goal-icon-config(@gray-darker);
    }
  }
}

.goal-icon-config(@color) {
  color: @color;
  font-size: @font-size-massive;
}
