
@import 'mixins/carousel';
@import "mixins/svg-background";

@import "news-summary";
@import "blog-summary";
@import "publication-summary";
@import "event-summary";

@import "goals-banner";
@import "contacts-banner";
@import "navbar-main";
//@import (reference) "../../node_modules/bootstrap/less/bootstrap";

@carousel-size: 600px;
.homepage-carousel {
  .jcarousel(100%, @carousel-size);
}

.homepage-carousel-container {
  .svg-background('../assets/img/bg-texture-hexagons-lg-pastel.svg', '../assets/img/bg-texture-hexagons-lg-pastel.png');
  //background-repeat: repeat-x;
  height: @carousel-size;
  background-size: @carousel-size * 0.6;
  background-position: center;
  overflow: hidden;
}
