//Main less file

//bring in our bootstrap less file
@import '../../node_modules/bootstrap/less/bootstrap';

//less source imports
@import 'homepage';
@import 'country-profile';

@import 'top-banner';
@import 'navbar-main';
@import 'navbar-search';
@import 'colors';
@import 'fonts';

//bootstrap variables:
  //navbars:
  @navbar-default-color:                @gray;
  @navbar-default-bg:                   @gray;

  //@nav-tabs-justified-active-link-border-color: @blue-darkest;
  @nav-link-hover-bg:                           @blue-darkest;
  // Navbar links
  // @navbar-default-link-color:                @blue-darkest;
  // @navbar-default-link-hover-color:          @blue-darkest;
  // @navbar-default-link-hover-bg:             @blue-darkest;
  // @navbar-default-link-active-color:         @blue-darkest;
  // @navbar-default-link-active-bg:            @blue-darkest;
  // @navbar-default-link-disabled-color:       @blue-darkest;
  // @navbar-default-link-disabled-bg:          @blue-darkest;

  
