
@import "colours";
@import (reference) "../../node_modules/bootstrap/less/bootstrap";

.navbar-search {
  .navbar;
  .navbar-default;
  .navbar-fixed-top;
  background: transperent;
  background-color: transparent;
  border: 0;
}

.nav-bar-min {
  border: 0;
}
//body { padding-top: 70px; } // required for correct appearance
