@import "mixins/svg-background";
@import "colors";
@import (reference) "../../node_modules/bootstrap/less/bootstrap";

@banner-height: 150px;

.top-banner {
  .jumbotron;
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0 !important;
  border-top: 10px solid @orange-dark;
}

.top-banner-text {
  text-align: right;
  //margin-top: @banner-height / 20;
}

.top-banner-logo {
  .svg-background('../assets/img/logo-main-graphic.svg', '../assets/img/logo-main-graphic.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  height: @banner-height;
  //margin-top: @banner-height / 10;
  //margin-bottom: @banner-height / 10;
}
