//@import (reference) "../../../node_modules/bootstrap/less/grid";
@import "../colors";
@import "bordered";
@import "disable-a-formating";

.item-summary(@color, @darker-color) {
    //padding: 15px;
    align-items: inherit;

  .wrapper {
    height: 320px;
    .disable-a-formating(black);
    margin-top: 15px;
    margin-bottom: 15px;
    //margin-right: 15px;
    padding: 0;
    background-color: @gray-light;
    border-bottom: 5px solid @gray-light;
    border-radius: 10px;
    .disable-a-formating(black);
    box-shadow: 2px 2px 1px @gray;
    align-items: inherit;

    &:hover {
      box-shadow: 10px 10px 5px @gray;
    }

    .item-body {
      padding: 5px;
      align-items: center;
      text-align: center;
    }

    .item-header {
      background-color: @color;
      border-top: 10px solid @darker-color;
      margin-top: 0;
      padding: 5px;
      .disable-a-formating(black);
      margin-bottom: 0;
    }

    .header-picture {
      background-color: white;
      border-left: 5px solid @gray-light;
      border-right: 5px solid @gray-light;
      overflow: hidden;
      text-align: center;
    }

    .item-text {
      margin: 10px;
      overflow: hidden;
      .disable-a-formating(black);
    }

    .item-bordered-content{
      .item-bordered-content-config(@darker-color);
      .disable-a-formating(black);
    }
  }

}

.item-bordered-content-config(@color) {
  .bordered-curved(@color);
  background-color: white;
}
